:root {
  --brand: #007ac2;
  --brand-hover: #00619b;
  --brand-press: #004874;
  --background: #f8f8f8;
  --foreground-1: #ffffff;
  --foreground-2: #f3f3f3;
  --foreground-3: #eaeaea;
  --text-1: #151515;
  --text-2: #4a4a4a;
  --text-3: #6a6a6a;
  --text-highlight: #bbd5fa;
  --text-inverse: #ffffff;
  --text-link: #00619b;
  --border-1: #cacaca;
  --border-2: #d4d4d4;
  --border-3: #dfdfdf;
  --border-input: #949494;
  --info: #00619b;
  --success: #35ac46;
  --warning: #edd317;
  --danger: #d83020;
  --danger-hover: #a82b1e;
  --danger-press: #7c1d13;
}
